@import 'base';

.about {
    position: relative;
    
    .headshot-container {
        margin: 20px auto;
        width: 150px;
        background-color: $light-gray;
        box-shadow: 2px 5px 10px black;
        img {
            padding: 10px;
            width: 130px;
        }
    }
    p {
        width: 250px;
        margin: 20px auto;
        text-align: center;

        @media (min-width: $breakpoint-phablet) {
            width: 500px;
        }
    }

    @media (min-width: $breakpoint-phablet) {
        width: 500px;
        margin: auto;
    }
}

.resume-link h3 {
    color: $teal;
    text-shadow: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;

    @media (min-width: $breakpoint-phablet) {
        font-size: 25px;
    }
}

.resume-link h3:hover {
    color: $light-teal;
    text-shadow: 0 0 5px $light-teal, 0 0 10px $teal;
}
