// ------ VARIABLES ------

// ------ FONTS ------ 
$font-sen: 'Sen', sans-serif;
$font-sand: 'Quicksand', sans-serif;

// ------ COLORS ------
$orange: rgb(230, 103, 29);
$light-orange: rgb(255, 163, 110);
$teal: rgb(0, 182, 167);
$light-teal: rgb(0, 253, 232);
$light-gray: rgb(204, 204, 204);
$mid-gray: rgb(182, 182, 182);
$dark-gray: rgb(58, 58, 58);

.app {
    background-color: $dark-gray;
    background-image: url('../../images/metal.jpg');
    background-blend-mode: multiply;
}

h1, h2, h3, h4, p {
    font-family: $font-sand;
    font-weight: 100;
    color: $orange;
    margin: 0;
}

h1 {
    margin-left: 10vw;
    font-size: 25px;
    padding: 10px;
    color: $light-orange;
    text-shadow: 0 0 5px $light-orange, 0 0 10px $light-orange, 0 0 15px $orange;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

span, .navlink {
    color: $teal;
    text-shadow: none;
}

a {
    text-decoration: none;
}

.fa-links {
    text-align: center;
    letter-spacing: 20px;
    padding-left: 10px;
    margin: 30px;
}

.project-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.icons {
    color: $teal;
    font-size: 30px;
    text-shadow: 0 0 5px $dark-gray;
}

span, .navlink:hover, .icons:hover {
    color: $light-teal;
    text-shadow: 0 0 5px $light-teal, 0 0 10px $teal;
}
