@import 'base';

.form-container {
    background: white;
    background: radial-gradient(circle, rgb(177, 32, 32) 0%, rgba(204,204,204,1) 41%, rgba(93,93,93,1) 100%);    
    width: 250px;
    height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    @media (min-width: $breakpoint-tablet) {
        height: 350px;
    }
}

.textarea, .text {
    width: 190px;
}

.button {
    display: inline-block;
    background: linear-gradient(0deg, $orange 0%, $light-orange 88%, $orange 100%);
    box-shadow: 0 5px 10px $dark-gray;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    margin: 20px auto;
}
