@import 'base';

.form-container {
    background: white;
    background: radial-gradient(circle, white 0%, $light-gray 41%, $dark-gray 100%);    
    width: 250px;
    height: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    @media (min-width: $breakpoint-tablet) {
        height: 430px;
    }
}

.textarea, .text {
    width: 190px;
    margin: 7px 0;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid $mid-gray;
}

.button {
    display: inline-block;
    background: linear-gradient(0deg, $orange 0%, $light-orange 88%, $orange 100%);
    box-shadow: 0 5px 10px $dark-gray;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    margin: 20px auto;
}
