@import 'base';

.projects {
    padding: 30px;

    .all-projects {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project-card {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 48%, rgba(124,124,124,1) 100%);        
        border-radius: 10px;
        box-shadow: 2px 5px 10px black;
        padding: 15px;
        width: 300px;
        height: 450px;
        margin: 10px;
        position: relative;

        .image-container {
            width: 90%;
            margin: 20px auto;
        }
        
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 2px 5px 10px $dark-gray;
        }
    }
}

.section-title {
    @media (min-width: $breakpoint-phablet) {
        text-align: center;
        margin: 0;
    }
}
