@import 'base';

.projects {
    padding-top: 30px;

    .project-card {
        margin: auto;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 48%, rgba(124,124,124,1) 100%);        
        border-radius: 10px;
        box-shadow: 2px 5px 10px black;
        padding: 15px;
        margin: 50px 10px;
        height: 450px;

        .image-container {
            width: 90%;
            margin: 20px auto;
        }
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 2px 5px 10px $dark-gray;
        }
    }
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    h4 {
        background-color: $light-gray;
        border-radius: 20px;
        padding: 5px 15px;
        margin: 3px;
    }
}
