@import 'base';

.projects {
    padding: 30px;

    .all-projects {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project-card {
        background: rgb(255,255,255);
        background: radial-gradient(circle, $light-gray 0%, $mid-gray 48%, $dark-gray 100%);        
        border-radius: 10px;
        box-shadow: 2px 5px 10px black;
        padding: 15px;
        width: 300px;
        height: 450px;
        margin: 10px;
        position: relative;
        transition: all .3s ease-in-out;

        .image-container {
            width: 90%;
            margin: 20px auto;
        }
        
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 2px 5px 10px $dark-gray;
        }

        p {
            padding: 20px;
        }
    }

    .project-card:hover {
        transform: scale(1.1); 
    }

    .back {
        background: radial-gradient(circle, $mid-gray 0%, $dark-gray 55%, black 100%);
    }
}

.section-title {
    @media (min-width: $breakpoint-phablet) {
        text-align: center;
        margin: 0;
    }
}
